.submit-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 56px;

    border: 2px rgb(212 212 212) dashed;
    color: rgb(82 82 82);

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    cursor: pointer;
}

.submit-label:hover {
    opacity: .7;
}

@media (min-width: 768px) {
    .submit-label {
        padding: 96px;
    }
}